section{
    display:flex;
    flex-direction:column;
    height:auto;
}
.bemVindoContent{
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-top: 5%;
}
#icon{
    margin-left:auto;
    margin-right:auto;
    width: 12vw;
    align-content: flex-end;
    margin-top: vh;
}

.tituloBemVindo{
    font-size:  4vw;
}

.boxSec{
    display: flex;
    text-align: center;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
    align-content: top;
}

.botoesTelaBemVindo{
    display: flex;
    flex-direction: column;
}

.botoesTelaBemVindo > *{
    border-radius: 6.51301px;
    color: white;
    background-color:#6200EE;
    padding: 2% 5% 2% 5%;
    margin-top: 5%;
    width: 22vw;
    text-align: center;
    font-size:150%;
    margin-left: auto;
    margin-right: auto;
}

.botao1:hover{
    color: #6200EE;
    background-color:white;
}

.botao2{
    color: white;
}

@media (max-width: 688px){
    section{
        margin: auto;
    }
    .boxSec{
        width:90vw;
    }
    .botoesTelaBemVindo > *{
        
        width: 54vw;
    }

    #icon{
        width: 20vw;
    }
    
    .botoesTelaInicial >*{
        margin:auto;
        width: 54vw;
    }
    .botoesTelaInicial >a{
        margin:auto;
        margin-top: 3vh;
        width: 54vw;
    }
    #imgPag2{
        height: auto;
        width:100vw;
        margin: auto;
        padding-bottom: 5vh;
    }
}
