*{
    font-family: Roboto;
    font-weight: 500;
    font-style:normal;
    font-weight: normal;

}
body{
    margin: 0;
}
section{
    height: 85vh;
}

/* PRIMEIRA  SESSÃO */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    height: 12vh;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;    
    box-shadow: 0px 3px 6px #0000005C;
    position: relative;
}

a{
    text-decoration: none;
    color:#666666;
    padding-left: 3vw;
}

.logo{
    position: absolute;
}

#logoNav{
    display: block;
    height: 8vh;
    width: auto;
    position: relative;

}

.menu-botao {
    top: 10%;
    right: 10%;
    margin: auto;
    position: absolute;
    display: none;
    float: right;
    flex-direction: column;
    justify-content: space-between;
    width: 5vw;
    height: 5vh;
}

.menu-botao>.barra1,
.barra2,
.barra3 {
    height: .7vh;
    width: 5vw;
    background-color: #6200EE;
    z-index: 2;
    border-radius: 20%;
}

.menuItens{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menuItens{

}

@media (max-width: 810px) {

    .menu-botao {
        display: flex;
        top: 5vh;
        right: 10%;
        /* position: fixed; */
    }

    #menuLinks {
        display: none;
        flex-direction: column;
        margin-top: 12vh;
        text-align: center;
        border:#666666;
        border-style: ridge;
    }

    #menuLinks> * {
        float: right;
        height: 5vh;
        background-color: white;
    }
}


.primeiraSessao{
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
}

h1{
    font-weight: bold;
    margin-top: 5vh;
    font-size: 200%;
}
.caixaImagem{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: auto;
}


#imgPrimeiraSessão{
    width: 55vw;
    height: auto;
    margin: auto;
}

.caixaBotões{
    width:22vw;
    margin: auto;
}

.botoesTelaInicial{
    display: flex;
    flex-direction: column;
}

.botoesTelaInicial > *{
    border-radius: 6.51301px;
    color: white;
    background-color:#6200EE;
    padding: 5%;
    margin-top: 10%;
    width: 22vw;
    text-align: center;
    font-size:150%;
}

/* SEGUNDA SESSÃO */

.segunda-sessao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10vw;
}

.textoSegundaSessão{
    font-size: 150%;
}

.fluxoImg{
    margin: auto;
}

#imgPag2{
    height: 60vh;
    margin: auto;
    padding-bottom: 5vh;
}

