body{
    margin: 0;
}
section{
    height: 100vh;
}

.segunda-sessao{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.boxInfo{
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxInfo > *{
    margin: auto;
}

.doadorBox{
    background-color: chartreuse;
}

.donatarioBox{
    background-color: brown;
}

.botaoLink{
    background-color: darkmagenta;
    padding: 5% 10% 5% 10%;
    color: black;
}