section{
    height:85vh;
    width: 60vw;
    margin:auto;
    /* vertical-align: middle; */
}

.sessionContent{
    padding-top:10vh;
}

.sessionContent > *{
    padding-top:1vh;
}

.selectBox{
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1, h2{
    text-align: center;
    height: 35%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.quebra{
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin: auto;
}

hr{
    width:14vw;
    margin: auto;
    height:1px;
    background-color: black;
}

h1,  select, .pesquisaElement{
    width:30vw;
    margin: auto;
}
input{
    padding: 2.5vh;
}
.pesquisaElement{
    display: flex;
    flex-direction: column;
}
.pesquisaElement >*{
    margin-top:2vh;
}
#estadoSelect, #municipioSelect{
    background: rgba(33, 33, 33, 0.08);
    padding: 2.5vh;
    border: none;
    margin: 0.9vh;
}

button{
    padding-top: 11vh;
    color:white;
    background: #6200EE;
    width: 10vw;
    margin: auto;
    padding: 1.5vh;
    border-radius: 5.63px;
    border: none;
}
button:hover{
    color: white;
    background: #6200EE;
    border-radius: 1vh;
}

  