section{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
}

h1{
    text-align: center;
    
}

.contentBox{
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.escolaImg{
    height: 18vh;
}

.contentResBusca{
    display: flex;
    flex-direction: column;
}

#alunoImg{
    height :10vh;
    padding-left: 1vw;
}

.cardPerfilAluno{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 40vw;
    margin-top: 1.5vh;
    /* margin-left: 5vw; */
    /* background-color: aqua; */
    border-top: 4px solid rgba(33, 33, 33, 0.08);
    border-bottom: 4px solid rgba(33, 33, 33, 0.08);
}
.cardPerfilAluno:hover{
    background-color:rgba(33, 33, 33, 0.08);
}

.cardPerfilAluno{
    justify-content:space-between;
    
}

.cardPerfilAluno > *{
    margin:auto;
}

#valorLista{
    float: right;
}

.escola-list{
    text-align: center;
}

.textoInfo{
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction:column;
}

.boxImage{
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid rgba(33, 33, 33, 0.08);
}
.boxImage:hover{
    background-color:rgba(33, 33, 33, 0.08);
}

@media (max-width: 800px){

    .cardPerfilAluno, .contentBox{
        width: 90vw;
        font-size: 2vh;
    }

}