.btn_doador{

    display:flex;
    width: 5%;
    margin: auto;
    justify-content: center;
}
.btn_doador1{
    display:inline;
   align-items: center;
    color: #6200EE;
    border-radius: 1vh;   
    margin: 2vh;
    padding: 2vh;
    border: none;


}
.btn_doador2{
    color: #fff;
    border-radius: 1vh;
    margin: 2vh;
    padding: 2vh;
    background-color: #6200EE;
    border: none;
}
.btn_doador1:hover{
    color: #fff;
    background-color: #6200EE;
}
.btn_doador2:hover{
    color: #6200EE;
    background: #fff;
    border-radius: 1vh;
}

.checkMaterial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    margin:auto;
    margin-top: 5vh;
}

.doadorBox{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 40vw;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content:space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 4px solid rgba(33, 33, 33, 0.08);
    font-size:5vw;    
}

.doadorBox > label{
    font-size:2vh; 
}
